/* ========BASIC======== */
html {
    overflow-y:scroll;
}

body {
    margin:0;
    padding:0;
    line-height:1.6;
    letter-spacing:1px;
    font-family:"Hiragino Kaku Gothic Pro",HiraKakuPro-W3,"ヒラギノ角ゴ Pro W3","メイリオ", Meiryo,"ＭＳ Ｐゴシック",verdana,sans-serif;
    font-size:12px;
    color:#000;
    background:#efefef;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.80, #fff), color-stop(0.00, #efefef));
    background:-webkit-linear-gradient(top, #efefef 0%, #fff 80%);
    background:-moz-linear-gradient(top, #efefef 0%, #fff 80%);
    background:-o-linear-gradient(top, #efefef 0%, #fff 80%);
    background:-ms-linear-gradient(top, #efefef 0%, #fff 80%);
    background:linear-gradient(to bottom, #efefef 0%, #fff 80%);
}

br {
    letter-spacing:normal;
}

a {
    color:#134D99;
    font-weight:bold;
    text-decoration:underline;
}

a:hover {
    color:#134D99;
    text-decoration:underline;
}

img {
    border:0;
    vertical-align:bottom;
}

h1,h2,h3,h4,h5,h6 {
    margin:0;
}

h4 {
    padding:0 10px;
    color:#000;
    font-weight:normal;
}

p {
    margin:10px;
    word-break: break-all;
    font-size: small;
}

/* ========TEMPLATE LAYOUT======== */
#container {
    width: 90%;
    margin:30px auto;
    padding:20px;
    border:1px solid #ddd;
    -moz-box-shadow:0 0 10px #bfbfbf; /* Firefox用 */  
    -webkit-box-shadow:0 0 10px #bfbfbf; /* Safari,Google Chrome用 */ 
    box-shadow:0 0 10px #bfbfbf;
    background:#fff;
}

#header {
    position:relative;
    margin-bottom:20px;
}

#contents {
    padding:10px 0;
    background:#fff;
}

#footer {
    clear:both;
    padding:10px 0;
}

/* ========HEADER CUSTOMIZE======== */
#header h1 {
    margin:0;
    color:#770000;
    font-weight:bold;
}

#contents h2 {
   margin-bottom:10px;
   padding:10px 0;
   font-weight:bold;
   border-bottom:2px solid #ddd;
}

#contents table {
   width:100%;
   border-collapse: collapse;
}

#contents table th {
   padding:5px;
   text-align: center;
   font-size: large;
   border:1px solid #ddd;
   background:#cfcfcf;
}

#contents table td {
   padding:5px;
   text-align:left;
   border:1px solid #ddd;
   vertical-align: middle;
}

/* ========FOOTER CUSTOMIZE======== */
.copyright {
   text-align:center;
   font-style:normal;
   padding:20px 0;
   border-top:1px solid #CECFCE;
}

.shadow {
  border-radius: 3px;
  font-family:"Maru Folk Heavy", sans-serif;
  font-style: italic;
  letter-spacing: 0;
  padding: 3px 0;
  text-shadow: 2px 2px 0 #fff, 5px 5px 0 #dfe8f1;
}

.shadow strong {
  font-family: "Maru Folk Medium", sans-serif;
  letter-spacing: 2px;
  text-shadow: 1px 1px 0 #fff, 3px 3px 0 #f1e3df;
}

.glow_banner {
  background: #1e3971;
  background: -moz-linear-gradient(top, #091938, #1e3971);
  background: -webkit-gradient(linear,
    left top,
    left bottom,
    from(#091938),
    to(#1e3971));
  border-radius: 3px;
  color: #fff;
  font-family:"Haruhi Gakuen", sans-serif;
  letter-spacing: 2px;
  margin: 0 auto;
  padding: 10px;
  text-shadow: 0 0 15px #ffdd65, 0 0 10px #ffdd65,0 0 5px #fff;
}

.reflect_title {
  display: inline-block;
  font-family: 'A1 Mincho', serif;
  letter-spacing: -0.05em;
  -webkit-box-reflect: below 0 -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(0.4, transparent), to(rgba(0,0,0,0.5)));
}

h1 .right, .pagination, img.right, p .right {
  float: right;
}

.hightlight {
  background-color: #DEFFAC;
}

.order {
  background-color: #F0F0F0;
}

.rotate180 {
  -moz-transition: all 1s linear;
  -webkit-transition: all 1s linear;
  -o-transition: all 1s linear;
  -ms-transition: all 1s linear;
  transition: all 1s linear;
  display: inline-block;
}

.rotate180:hover {
  -moz-transform: rotateZ(90deg);
  -webkit-transform: rotateZ(90deg);
  -o-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  transition: rotateZ(90deg);
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
