<!DOCTYPE html>
<html ng-app="eatToDeadApp">
<head>
  <meta property="og:image" content="http://i.imgur.com/5ekaREQ.png" />
  <meta name="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="description" content="提供一個可以新增或查詢哪些不可以吃的交流平台, 且就算已經吃到或還沒吃到也都可以開幹的平台, 最最最重要的是順便求職啊" />

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- AngularJS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.19/angular.min.js"></script>
  <!-- Firebase -->
  <script src="https://cdn.firebase.com/js/client/1.1.3/firebase.js"></script>
  <!-- AngularFire -->
  <script src="https://cdn.firebase.com/libs/angularfire/0.8.2/angularfire.min.js"></script>
  
  <script src="js/ui-bootstrap-tpls-0.11.2.min.js"></script>
  <script src="js/pagination.js"></script>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <script src="js/underscore.js"></script>

  <script src="js/app.js"></script>
  <link rel="stylesheet" type="text/css" href="css/site.css">
  <link rel="stylesheet" type="text/css" href="css/sc-btn.css">
  
  <meta charset="utf-8">
  <title>食在狠幹</title>
</head>
<body ng-controller="MainCtrl as m">
  <div id="container">
  <div id="header">
    <h1>
        <span class="shadow"><strong>食&nbsp;在&nbsp;狠</strong></span>
        <span class="glow_banner reflect_title">幹</span>

        <span class="right">
          <button class="btn btn-primary" ng-hide="m.isLogin" ng-click="m.loginFB()">Login with Facebook</button>
          <button class="btn btn-success" ng-show="m.isLogin" ng-click="m.logoutFB()">Logout</button>
        </span>
    </h1>
  </div><!-- /#header-->

  <div id="contents">
    <div ng-controller="AddCtrl as a">
      <button class="btn btn-default" id="toFuck" ng-show="m.isLogin" ng-click="m.isCollapsed = !m.isCollapsed">我要幹</button>
      <div><br /></div>
      <div ng-show="m.isLogin" collapse="m.isCollapsed">
        <div class="well well-lg">
          <form class="form-group">
            <label>名稱:</label>
            <input type="text" placeholder="詳細商品名稱" class="form-control" ng-model="m.pName" required>
            <br />
            <label>廠牌:</label><br />
            <label class="btn btn-sm btn-danger" ng-model="m.pBrand"
                    ng-click="m.isOther = false" btn-radio="'統一'" uncheckable>統一</label>
            <label class="btn btn-sm btn-info" ng-model="m.pBrand"
                    ng-click="m.isOther = false" btn-radio="'頂新'" uncheckable>頂新</label>
            <label class="btn btn-sm btn-warning" ng-model="m.pBrand"
                    ng-click="m.isOther = false" btn-radio="'味全'" uncheckable>味全</label>
            <label class="btn btn-sm btn-primary" ng-model="m.pBrand"
                    ng-click="m.isOther = false" btn-radio="'ゴミ丼'" uncheckable>ゴミ丼</label>
            <label class="btn btn-sm btn-default" ng-model="m.pBrand"
                  btn-radio="{{m.otherBrand}}" ng-click="m.setOther()" uncheckable>
              其他
            </label>
            <input style="display: inline-block;" type="text"
                    placeholder="商品廠牌" ng-show="m.isOther" 
                    ng-model="m.otherBrand" ng-required="m.isOther" />
            <div>
              <alert type="danger" ng-show="m.isAlert" close="m.closeAlert()">廠牌請選擇或填寫</alert>
            </div>
            <hr />
            <div class="btn-group">
              <button class="btn btn-sm btn-success" ng-click="m.submit()">確定</button>
              <button class="btn btn-sm" ng-click="m.clear()">清除</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div ng-controller="ShowCtrl as s">
      <table class="table">
        <caption><h4>搜尋 <input type="text" ng-change="m.searchKeyword()" ng-model="m.keyword"></h4><br /></caption>
        <tr>
          <th>名稱</th>
          <th>
            <button class="btn btn-xs"
                    ng-class="(m.orderBy=='pBrand') ? 'order': ''"
                    ng-click="m.order('pBrand')">+</button>
            廠牌
            <button class="btn btn-xs"
                    ng-class="(m.orderBy=='-pBrand') ? 'order': ''"
                    ng-click="m.order('-pBrand')">-</button>
          </th>
          <th>
            <button class="btn btn-xs"
                    ng-class="(m.orderBy=='-fuck') ? 'order': ''"
                    ng-click="m.order('-fuck')">+</button>
            幹指數
            <button class="btn btn-xs"
                    ng-class="(m.orderBy=='fuck') ? 'order': ''"
                    ng-click="m.order('fuck')">-</button>
          </th>
        </tr>
        <tr ng-repeat="item in m.filteredProducts"
            ng-mouseover="IsHightlight=true;"
            ng-mouseleave="IsHightlight=false;"
            ng-class="{hightlight: IsHightlight}">
          <td><h4>{{item.pName}}</h4></td>
          <td style="width: 15%"><h4><span ng-class="s.brandClass(item)">{{item.pBrand}}</span></h4></td>
          <td style="width: 35%">
            <button class="sc-btn sc--facebook"
                    ng-class="m.sizeClass(item)"
                    ng-click="m.isDisabled(item.users) || m.addFuck(item, $event)"
                    popover-placement="right" popover="{{item.names | latestNames}}">
              <span class="sc-icon">
                  <svg viewBox="0 0 33 33" width="25" height="25" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><path d="M 17.996,32L 12,32 L 12,16 l-4,0 l0-5.514 l 4-0.002l-0.006-3.248C 11.993,2.737, 13.213,0, 18.512,0l 4.412,0 l0,5.515 l-2.757,0 c-2.063,0-2.163,0.77-2.163,2.209l-0.008,2.76l 4.959,0 l-0.585,5.514L 18,16L 17.996,32z"></path></g></svg>
              </span>
              <span class="sc-text">
                  {{item.fuck||0 | number}} 個人很幹
              </span>
            </button>
          </td>
        </tr>
      </table>

      <pagination boundary-links="true" total-items="m.totalItems"
                  ng-model="m.currentPage" items-per-page="m.numPerPage"
                  ng-change="m.pageChanged()" max-size="10"
                  class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;"
                  first-text="&laquo;" last-text="&raquo;">
      </pagination>
    </div>

    <div style="clear: both;" />

        <h2>幹什麼</h2>

      <p>
        小的從日本放棄治療回台後,&nbsp;最近和獵人頭討論履歷時碰到最大的問題就是欠缺作品集較難幫我推薦(銷).&nbsp;以前的工作都是開發內部系統或是backend的程式,&nbsp;拿來說嘴的作品根本就沒有,&nbsp;要說服別人用小的真是難上加難!&nbsp;因此"食在狠幹"就誕生啦,&nbsp;趁著學習了7小時入門的AngularJS課程,&nbsp;加上67kjobs大大的<a href="https://www.ptt.cc/bbs/Soft_Job/M.1405649497.A.707.html" target="_blank">po文</a>指引,&nbsp;整個站就是
      </p>
        <div class="alert alert-info" role="alert">
          Bootstrap&nbsp;&nbsp;<--->&nbsp;&nbsp;AngularJS&nbsp;&nbsp;<--->&nbsp;&nbsp;Firebase
          <img class="right" src="https://angularjs.org/img/AngularJS-large.png"
            width="128" height="26" />
        </div>
      <p>
        藉此希望提供一個可以新增(需要FB登入)或查詢哪些不可以吃的交流平台,&nbsp;且就算已經吃到或還沒吃到也都可以開幹的平台.&nbsp;最最最重要的是順便求職啊,&nbsp;誰肯用小的我,&nbsp;<a href="mailto:acgsong.tw@yahoo.com.tw">懇請來信</a>
        <br /><span class="right">㊟&nbsp;AngularJS&nbsp;1.3&nbsp;在&nbsp;IE9&nbsp;以下可能發生預期外狀況時請幹M$</span>
      </p>

  </div><!-- /#contents -->
  <div id="footer">
    <div class="copyright">Copyright &copy; 2014.10 食在狠幹 by Shuai Lin All Rights Reserved.</div>
  </div>
  </div><!-- /#container -->
</body>

</html>